@charset "UTF-8";
/* CSS Document */

body {
  font-family: 'UniqloProRegular', 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;

  font-family: 'Noto Sans JP';

  font-feature-settings: 'palt' 1;
  /* letter-spacing: 0.05em; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth; /* スムーススクロール */
}


@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  .pc-nav,
  .sp-none {
    display: none;
  }

  .sec {
    padding: 0 22px;
    scroll-margin-top: 110px;
  }

  .color {
    color: #379E49;
    font-weight: bold;
  }


  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .header {
    position: fixed;
    width: 100%;
    /* height: 80px; */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 22px;
    top: 0;
    z-index: 20;
  }

  .logo-box {
    display: flex;
    align-items: center;
  }

  /* .logo-box.active {
    display: none;
  } */

  .logo-box img {
    /* height: 40px; */
    height: 43px;
    /* margin-bottom: 0.8px; */
    margin-right: 10px;
  }

  .logo-box a {
    display: flex;
    align-items: center;
  }

  .logo-box .logo {
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 0.08em;
   color: #379E49;
  }

  .btn {
    position: fixed;
    width: 22px;
    height: 16px;
    right: 26px;
    margin-bottom: 0.8px;
  }

  .btn i {
    position: absolute;
    right: 0;
    height: 2px;
    width: 30px;
    background-color: #379E49;
    transition: 0.5s;
  }

  .btn i:nth-of-type(1){
    top: 0;
  }

  .btn i:nth-of-type(2){
    top: 6.5px;
  }

  .btn i:nth-of-type(3){
    top: 13px;
  }

  .btn.active i:nth-of-type(1){
    transform: translateY(6.5px) rotate(45deg);
    width: 28px;
    margin-right: 2.5px;
  }

  .btn.active i:nth-of-type(2){
    opacity: 0;
  }

  .btn.active i:nth-of-type(3){
    transform: translateY(-6.5px) rotate(-45deg);
    width: 28px;
    margin-right: 2.5px;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #ffffff;
    transition: .5s;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
  }

  .container.active{
    opacity: 1;
    pointer-events: auto;
  }

  .nav-list {
    padding: 50px 0 0 45px;

  }

  .nav-item {
    /* letter-spacing: 0.1em; */
    letter-spacing: .073em;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 24px;
  }

  .nav-item.sns {
    font-family: 'Roboto';
    font-size: 27px;
    letter-spacing: 0.05em;
  }

  /*==============================================================
    　　ヒーロー
  ==============================================================*/
  .sec-hero {
    margin-top: 115px;
    /* height: calc(100vh - 80px); */
    position: relative;
    padding: 0 22px;
  }

  .hero-slide {
    margin-top: 25px;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 344 / 400;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sec-hero .title {
    font-family: 'Roboto';
    /* font-size: 29px; */
    font-size: 34px;
    font-weight: bold;
    line-height: 1.2;
    color: #379E49;
    letter-spacing: 0.01em;
  }

  /*==============================================================
    　　北九ウエスとは about
  ==============================================================*/
  .sec h2.title {
    font-size: calc((45 / 750) * 100vw);
    line-height: calc((89 / 750) * 100vw);
    letter-spacing: .073em;
    white-space: nowrap;
    font-weight: bold;
    margin: 52px 0 28px;
  }

  .sec-text {
    display: inline-block;
    font-size: calc((29 / 750) * 100vw);
    /* font-weight: 700; */
    font-weight: 400;
    letter-spacing: .184em;
  }

  .underline {
    text-decoration: underline;
    text-decoration-color: #379E49;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  .cycle-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .cycle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ボタンスタイル */
  .btn-style {
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #379E49;
    border-radius: 25px;
    letter-spacing: .1em;
    /* letter-spacing: .073em; */
    font-size: calc((29 / 750) * 100vw);
  }

  /*==============================================================
    　　受け入れについて acceptance
  ==============================================================*/
  .sec-acceptance .sec-text {
    margin-bottom: 48px;
  }

  .sec-acceptance .item {
    padding: 24px;
    background-color: #fff;
    margin-bottom: 28px;
    border-radius: 25px;
    padding-bottom: 32px;
    letter-spacing: .073em;
    box-shadow: 6px 6px 6px 0px #E4E3E3;
    border: solid 1px #f3f3f3;
  }

  .sec-acceptance .item-icon {
    margin-bottom: 13px;
  }

  .sec-acceptance .item-icon svg  {
    width: 40px;
    height: 40px;
  }

  .sec-acceptance .item h3 {
    font-size: calc((40 / 750) * 100vw);
    color: #379E49;
    font-weight: bold;
  }

  .sec-acceptance .item .text {
    font-size: calc((27 / 750) * 100vw);
    margin-top: 12px;
    font-weight: 400;
  }

  /* .sec-acceptance .item .text .color {
    font-weight: bold;
    font-weight: 800;
  } */

  .sec-acceptance .note {
    font-size: calc((29 / 750) * 100vw);
    font-weight: 400;
    letter-spacing: .184em;
    margin-bottom: 16px;
  }

  .sec-acceptance .note-box {
    margin: 30px 0;
  }

  /*==============================================================
    　　環境への取り組み environment
  ==============================================================*/
  .sec-environment {
    padding: 0;
  }

  .sec-environment .text-box {
    padding: 0 22px;
  }

  .sec-environment .text-02 {
    margin: 48px 0;
  }

  /* ==================== スライダー ================== */
  .swiper-slide {
    position: relative;
    /* height: 300px; */
    aspect-ratio: 4 / 3;
  }

  .swiper-slide .slide-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    z-index: 3;
  }

  .swiper-slide .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
  }

  .swiper-slide .text-box {
    position: absolute;
    bottom: 20px;
    z-index: 5;
    color: #fff;
    font-weight: 700;
    letter-spacing: .1em;
  }

  .swiper-slide .text-box .title {
    font-size: 21px;
    margin-bottom: 1px;
  }

  .swiper-slide .text-box .text {
    font-size: 12px;
  }

  /*==============================================================
    　　会社情報 company
  ==============================================================*/
  .sec-company h2.title {
    margin-bottom: 8px;
  }
  .company-info .info-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 12px 20px;
    margin: 0 auto;
    font-size: calc((29 / 750) * 100vw);
    /* font-weight: 700; */
    font-weight: 400;
    letter-spacing: .073em;
    line-height: 1.6;
    border-bottom: solid 1px #E4E3E3;
    padding: 24px 16px;
    color: #1B1B1B;
  }

  .company-info dt {
    white-space: nowrap;
    align-content: center;
    font-weight: 400;
  }

  .company-info dd {
    margin: 0;
  }

  .company-info .info-item.job {
    border-bottom: none;
  }

  .company-info .job .item {
    display: grid;
    grid-template-columns: 14px 1fr;
  }

  .company-info .job .item.item-02 {
    margin-top: 10px;
  }


  .map {
    margin-top: 30px;
  }

  .map p {
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    font-weight: bold;
    font-size: calc((31 / 750) * 100vw);
  }

  .president-img {
    margin: 50px 0 48px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 4 / 5;
    background-image: url(../img/president.webp);
    background-repeat:no-repeat;
    background-size: 200%;
    background-position: 50% 30%;
  }


  /*==============================================================
    　　よくある質問 faq
  ==============================================================*/
  .faq {
    width: 100%;
    margin: 0 auto 100px;
    padding: 0 16px;
    margin-top: 80px;
  }

  .faq-toggle {
    display: none;
  }

  .faq-main {
    position: relative;
    font-optical-sizing: auto;
    margin: 0 24px 70px;
  }

  .faq-box {
    /* font-weight: 600; */
    font-weight: 400;
    border-top: solid 1px #E4E3E3;
    font-size: 16px;
  }

  .faq-box.box-end {
    border-bottom: solid 1px #E4E3E3;
  }

  .faq-title {
    padding: 1em;
    display: block;
    /* padding: 22px 30px 25px 20px; */
    padding: 22px 30px 25px 0;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    display: flex;
    font-size: calc((29 / 750) * 100vw);
    align-items: center;
    letter-spacing: .184em;
  }

  .faq-title::after {
    content: "";
    position: absolute;
    /* right: 1.25em; */
    right: 2px;
    /* width: 2.5px; */
    width: 25px;
    height: 25px;
    /* background-color: #999; */
    transition: all 0.3s;
    margin: auto 0;
    background-image: url(../img/keyboard_arrow_up.webp);
    background-repeat:no-repeat;
    background-size: cover;
  }

  .faq-box .title-text {
    letter-spacing: .073em;
    line-height: 1.8;
    margin-top: 1px;
    margin-right: 8px;
    align-items: start;
  }

  .text-Q {
    display: flex;
  }

  .faq-box p span {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: calc((29 / 750) * 100vw);
    margin-right: 4px;
    /* font-weight: 700; */
    font-weight: 400;
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
  }

  .faq-content .faq-A {
    line-height: 1.8;
    letter-spacing: .073em;
    font-size: calc((28 / 750) * 100vw);
    padding: 0 23px 40px 0;
    /* font-weight: 700; */
    font-weight: 400;
  }

  .faq-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
  }

  .faq-toggle:checked + .faq-title + .faq-content {
    max-height: 500px;
    transition: all 1.5s;
  }

  .faq-toggle:checked + .faq-title::after {
    transform: rotate(180deg) !important;
  }

  .faq-title {
    position: relative;
  }

  /*==============================================================
    　　インスタ instagram
  ==============================================================*/
  .sec-instagram h2.title {
    font-family: 'Roboto';
    font-size: calc((55 / 750) * 100vw);
    letter-spacing: .035em;
    font-weight: bold;
  }

  .link-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
  }

  .link-box div {
    background-color: #E4E3E3;
  }

  .sec-instagram .btn-style {
    margin-top: 45px;
  }



  /*==============================================================
    　　フッター
  ==============================================================*/
  .footer {
    background-color: #F4F4F4;
    margin-top: 60px;
    padding: 50px 22px;
    letter-spacing: .05em;
    font-weight: 500;
  }

  .site-links {
    font-size: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px 48px;
    margin: 50px 0;
  }

  .footer .address {
    font-size: 12px;
    line-height: 2;
  }

  .foot-link {
    font-size: 11px;
    font-weight: 500;
    margin: 50px 0 25px;
    color: #666666;
  }

  .foot-link a {
    margin-right: 7px;
  }

  .footer .copy {
    font-size: 10px;
  }


}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  .sp-only {
    display: none;
  }

  .sp-none {
    display: block;
  }

  /*==============================================================
    　　TB_ヘッダー
  ==============================================================*/
  .header {
    /* height: 120px; */
    padding: 20px 25px;
  }

  .logo-box img {
    height: 50px;
    margin-right: 16px;
  }

  .logo-box .logo {
   font-size: 20px;
  }

  /*==============================================================
    　　TB_ヒーロー
  ==============================================================*/
  .sec-hero {
    margin-top: 125px;
  }

  .sec-hero .title {
    /* font-size: 40px; */
    font-size: 80px;
  }

  .sec {
    padding: 0 25px;
    scroll-margin-top: 140px;
  }

  .hero-slide {
    margin-top: 30px;
  }

  /*==============================================================
    　　TB_北九ウエスとは about
  ==============================================================*/
  .sec h2.title {
    font-size: calc((77 / 1176) * (100vw - 50px));
    line-height: 2.1;
    letter-spacing: .068em;
    white-space: nowrap;
    font-weight: bold;
    /* margin: 80px 0 28px; */
    margin: 80px 0 30px;
  }

  .sec-text {
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 1.9;
  }

  .underline {
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
  }

  .cycle-img {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  /* ボタンスタイル */
  .btn-style {
    width: 480px;
    height: 84px;
    margin: 0 auto;
    border-radius: 50px;
    letter-spacing: .1em;
    font-size: 28px;
  }

  /*==============================================================
    　　TB_受け入れについて acceptance
  ==============================================================*/
  .sec-acceptance .sec-text {
    margin-bottom: 60px;
  }

  .sec-acceptance .item {
    padding: 28px;
    background-color: #fff;
    margin-bottom: 32px;
    border-radius: 30px;
    padding-bottom: 32px;
    letter-spacing: .068em;
    border: solid 1.3px #f3f3f3;
    line-height: 1.5;
  }

  .sec-acceptance .item-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .sec-acceptance .item-icon {
    margin-bottom: 24px;
  }

  .sec-acceptance .item-icon svg  {
    width: 50px;
    height: 50px;
  }

  .sec-acceptance .item h3 {
    font-size: 30px;
  }

  .sec-acceptance .item .text {
    font-size: 20px;
    margin-top: 18px;
    font-weight: 400;
  }

  .sec-acceptance .note {
    font-size: 23px;
    margin-bottom: 20px;
    line-height: 45px;
    letter-spacing: .095em;
  }

  .sec-acceptance .note-box {
    margin: 30px 0 60px;
  }

  /*==============================================================
    　　TB_環境への取り組み environment
  ==============================================================*/
  .sec-environment {
    padding: 0;
  }

  .sec-environment .text-02 {
    margin: 48px 0 64px;
  }

  /* ==================== スライダー ================== */
  .swiper-slide .slide-img {
    border-radius: 30px;
  }

  .swiper-slide .text-box {
    bottom: 36px;
    padding-left: 36px;
  }

  .swiper-slide .text-box .title {
    font-size: 36px;
    margin-bottom: 7px;
    letter-spacing: .08em;
  }

  .swiper-slide .text-box .text {
    font-size: 17px;
    letter-spacing: .1em;
  }

  /*==============================================================
    　　TB_会社情報 company
  ==============================================================*/
  .sec-company h2.title {
    margin-bottom: 28px;
    line-height: 2.1;
  }

  .company-info .info-item {
    grid-template-columns: 190px 1fr;
    font-size: 23px;
    line-height: 1.7;
    padding: 35px 25px;
  }

  .company-info .job .item {
    grid-template-columns: 25px 1fr;
  }

  .company-info .job .item.item-02 {
    margin-top: 14px;
  }

  .map {
    margin-top: 40px;
  }

  .president-img {
    margin: 80px 0 50px;
  }

  .sec-company .sec-text {
    font-size: 23px;
  }

  /*==============================================================
    　　TB_よくある質問 faq
  ==============================================================*/
  .sec-faq .accordion {
    margin-top: 20px;
  }

  .faq-title {
    /* padding: 35px 40px 25px 0; */
    padding: 35px 40px 25px 8px;
    font-size: 23px;
  }

  .faq-title::after {
    width: 40px;
    height: 40px;
  }

  .faq-box .title-text {
    margin-top: 0;
  }

  .faq-box p span {
    font-size: 23px;
  }

  .faq-content .faq-A {
    font-size: 22px;
    /* padding: 0 60px 50px 0; */
    padding: 0 60px 50px 8px;
    line-height: 1.9;
  }

  /*==============================================================
    　　TB_インスタ instagram
  ==============================================================*/
  .sec-instagram h2.title {
    font-size: 60px;
    letter-spacing: .03em;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .link-box {
    grid-template-rows: 250px 250px 250px;
    gap: 18px;
  }

  .sec-instagram .btn-style {
    margin-top: 65px;
  }

  /*==============================================================
    　　TB_フッター
  ==============================================================*/
  .footer {
    margin-top: 90px;
    padding: 70px 25px;
    letter-spacing: .05em;
    font-weight: 500;
  }

  .footer .logo-box img {
    height: 72px;
    margin-right: 20px;
  }

  .footer .logo-box .logo {
   font-size: 26px;
  }

  .site-links {
    font-size: 19px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px 60px;
    margin: 70px 0;
  }

  .footer .address {
    font-size: 19px;
    line-height: 1.9;
  }

  .foot-link {
    font-size: 18px;
    font-weight: 500;
    margin: 74px 0 44px;
  }

  .foot-link a {
    margin-right: 12px;
  }

  .footer .copy {
    font-size: 13px;
  }



}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_ヘッダー
  ==============================================================*/
  

  /*==============================================================
    　　PC_ヒーロー
  ==============================================================*/
  .sec-hero {
    margin-top: 230px;
    position: relative;
    padding: 0 60px;
  }

  .sec-hero .title {
    font-size: 9.3vw;
  }

  .sec {
    padding: 0 60px;
    scroll-margin-top: 140px;

    /* max-width: 1226px; */
    max-width: 1300px;
    /* padding: 0 25px; */
    margin: 0 auto;
  }

  .hero-slide {
    margin-top: 40px;
    aspect-ratio: 1.5;
  }

  /*==============================================================
    　　PC_北九ウエスとは about
  ==============================================================*/
  .sec h2.title {
    font-size: calc((77 / 1176) * (100vw - 50px));
    line-height: 2.1;
    letter-spacing: .068em;
    white-space: nowrap;
    font-weight: bold;
    margin: 80px 0 28px;
  }

  /*==============================================================
    　　PC_環境への取り組み environment
  ==============================================================*/
  .sec-environment .text-box {
    padding: 0;
  }

  /* ==================== スライダー ================== */
  .swiper-wrapper {
    display: grid !important;   /* flex を grid に上書き */
    grid-template-columns: repeat(2, 1fr); /* 2列 */
    gap: 16px; /* カード間の余白 */
    transform: none !important;
    margin-left: 0 !important;
  }
  .swiper-slide {
    width: auto !important; /* Swiperの幅指定を無効化 */
    margin: 0 !important;
  }

  element.style {
    margin-right: 0px;
  }

  .swiper-slide .text-box {
    bottom: 36px;
    padding-left: 36px;
  }

  /*==============================================================
    　　PC_会社情報 company
  ==============================================================*/
  /* .president-img {
    aspect-ratio: 1.5;
  } */

  .company-info .info-item {
    grid-template-columns: 240px 1fr;
    font-size: 30px;
  }

  .map p {
    font-size: 33px;
  }

  .sec-company .sec-text {
    font-size: 30px;
  }

  /*==============================================================
    　　PC_よくある質問 faq
  ==============================================================*/
  .faq-title {
    font-size: 30px;
  }

  .faq-title::after {
    width: 45px;
    height: 45px;
  }

  .faq-box p span {
    font-size: 30px;
  }

  .faq-content .faq-A {
    font-size: 28px;
  }

  /*==============================================================
    　　PC_インスタ instagram
  ==============================================================*/
  .link-box {
    grid-template-rows: 341px 341px 341px;
  }

  /*==============================================================
    　　PC_フッター
  ==============================================================*/
  .footer {
    margin-top: 90px;
    padding: 70px 60px;
    letter-spacing: .05em;
    font-weight: 500;
  }



}

@media screen and (min-width: 1400px) {
  /* パソコン用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */

  .pc-nav {
    display: block;
  }

  .sp-nav {
    display: none;
  }

  /*==============================================================
    　　PC-big_ヘッダー
  ==============================================================*/
  .header {
    padding: 60px 60px;
  }

  .header .nav-list {
    display: flex;
    padding: 0;
  }

  .header .nav-item {
    font-size: 14px;
    letter-spacing: 0.17em;
    padding: 0;
    margin: 0;
    padding-left: 32px;
    font-weight: bold;
  }

  .logo-box img {
    height: 50px;
    margin-right: 16px;
  }

  .header .nav-item.sns {
    font-size: 17px;
    letter-spacing: 0.08em;
    margin-top: -2px;
  }

  /*==============================================================
    　　PC-big_ヒーロー
  ==============================================================*/

  .sec-hero {
    /* max-width: 1300px;
    margin: 0 auto; */
    margin-top: 230px;
  }

  .sec-hero .title {
    /* font-size: 117px; */
    font-size: 9.5vw;
  }

  /*==============================================================
    　　PC-big北九ウエスとは about
  ==============================================================*/
  .sec h2.title {
    margin: 150px 0 8px;
  }

  /*==============================================================
    　　PC-big_北九ウエスとは about
  ==============================================================*/
  .sec h2.title {
    font-size: 77px;
  }

  /*==============================================================
    　　PC-big_インスタ instagram
  ==============================================================*/
  .link-box {
    grid-template-rows: 381px 381px 381px;
  }

  /*==============================================================
    　　PC-big_フッター
  ==============================================================*/
  /* .foot-con {
    max-width: 1180px;
    margin: 0 auto;
  } */




}